<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>__DISPLAY_NAME__</title>
    <base href="./" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data: blob:; connect-src 'self'; frame-src 'self' blob:; base-uri 'self'; form-action 'self'" />
  </head>
  <body>
    <app-root></app-root>
  </body>
</html>
